# python3 -m venv .venv
# source .venv/bin/activate
# pip install -r ansible/requirements.txt

# Python deps to run Ansible locally for k3d
ansible
ansible-lint

# Ansible collections deps
kubernetes

# Optional (enables json_query filter; harmless even if unused)
jmespath
